[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "public"]
	path = public
	url = https://github.com/lixin0111/lixin0111.github.com.git
	branch = master
